@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

html,
body,
#root,
.App {
  width: 100%;
  padding: 2.5%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  display: flex;

  svg {
    height: 100%;
  }
}

.spacer {
  height: 100%;
}

.bubble-wrap {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.colors-wrap {
  height: 100%;
  width: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  ul {
    list-style: none;
    text-align: start;

    li {
      cursor: pointer;
      padding: 6px 0;
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
}

.delete {
  color: rgb(216, 87, 87);
}
form {
  width: 90%;
  font-size: 1.1rem;
  margin: 5% auto;
  display: flex;
  flex-direction: column;

  legend {
    font-weight: bold;
    text-align: left;
    font-size: larger;
    font-weight: 900;
  }

  label {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
  }

  input {
    width: 67.8%;
    padding: 1.8% 2.5%;
    border-radius: 5px;
    border: 1.3px solid black;
    box-shadow: 2px 3px #888888;
  }

  .submit{
    padding: 2%;
    width: 20%;
    align-self: flex-end;
    margin-right: 25%;
  }
}

.color-box {
  height: 25px;
  width: 25px;
  border: 1.5px black solid;
  border-radius: 100%;
  margin-right: 36px;
}

.loginPage {
  width: 75%;
  margin: 3% auto;

  form {
    width: 50%;
    font-size: 1.8rem;
    margin: 5% auto;
    display: flex;
    flex-direction: column;
  
    legend {
      padding-left: 40px;
      font-weight: bold;
      text-align: left;
      text-decoration: underline;
      margin-bottom: 16px;
    }
  
    label {
      display: flex;
      justify-content: space-between;
      margin: 1rem 0;
    }
  
    input {
      width: 67.8%;
      padding: 1.8% 2.5%;
      border-radius: 10px;
      border: 1.3px solid black;
      box-shadow: 5px 10px #888888;
    }
  
    .submit{
      padding: 2%;
      width: 20%;
      align-self: flex-end;
      margin-right: 25%;
    }
  }
}



.button-row {
  display: flex;
  justify-content: space-between;
  padding: 0 36px 0 41px;

  button {
    border: none;
    background-color: black;
    color: white;
    padding: 3px 8px;
    margin-top: 16px;
  }
}

.appBubbleWrapper{
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

h1{
  font-size: 2.8rem;
  font-weight: 900;
}